<header class="site-header">
    <div class="container">
      <a routerLink="/" class="logo">
        <img src="/assets/images/property1.png" alt="RS BusinessTech Logo" />
      </a>
  
      <nav class="nav-links" [class.mobile-menu-open]="menuOpen">
        <a routerLink="/">Home (首页)</a>
        <a routerLink="/about">About us (关于我们)</a>
        <a routerLink="/rent">Rent (租)</a>
        <a routerLink="/blogs">Buy (买)</a>
        <a routerLink="/products">New Projects (新项目)</a>
        <a routerLink="/contact">Contact us (联系我们)</a>
      </nav>
  
      <button class="menu-toggle" (click)="menuOpen = !menuOpen">
        ☰
      </button>
    </div>
  </header>
  